.breather-container {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breather {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: coral;
  color: white;
}
